.layout-container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border-color: black;
  justify-content: center; /* Aliniați elementele pe axa orizontală */
  align-items: center; /* Aliniați elementele pe axa verticală */
  margin: auto;
  height: 100vh;
  background-color: rgba(241, 232, 220, 0.737);
}

.container1 {
  width: 45%;
  height: 75vh;
  background-color: rgba(
    241,
    232,
    220,
    0.737
  ); /* Folosește rgba pentru a seta opacitatea */
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: solid 6px rgb(85, 255, 0);
  text-align: center;
  /* align-items: center; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
}

.container2 {
  width: 45%;
  height: 75vh;
  background-color: rgb(85, 255, 0);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: solid 6px rgb(85, 255, 0);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
}
.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(
    100vh - 20px
  ); /* Calculează înălțimea pentru a ocupa aproape întreaga înălțime a ecranului, cu excepția unui spațiu mic la partea de sus și de jos */
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.button-register {
  width: 100%;
}

.full-weight {
  width: 80%;
  height: 80%;
}

.input-login {
  width: 100%;
  background-color: blueviolet;
  border: 2px black solid;
  box-sizing: border-box; /* Asigură-te că lățimea input-ului include și gr0simea marginilor și border-ului */
}

/* @media (max-width: 768px) {
  .input-login {
    width: 45%;
  }
  .login-button {
    width: 45%;
  }
} */

.input-login:hover {
  background-color: brown;
}
.input-login:active {
  background-color: aqua;
}
.input-login:focus {
  background-color: orangered;
}

.remember-and-forgot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 640px) {
  .remember-and-forgot {
    display: flex;
    justify-content: center;
  }
}

.login-button {
  width: 100%;
  margin: auto;
  background-color: blueviolet;
  border: 2px black solid;
}

.welcome-h1 {
  padding-bottom: 40px;
}

.login-form-forgot {
  color: blueviolet; /* Culorea textului */
}

.login-form-forgot:hover {
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
